html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --offset: 0.25rem;
}

.button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

#viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  z-index: 1000;
  display: flex;
  gap: var(--offset);
}

.info-box {
  position: absolute;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  padding: 0.5rem;
  top: var(--offset);
  left: var(--offset);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  z-index: 1000;
  vertical-align: baseline;
  font-size: 1.5rem;
}

.loading span::after {
  content: ".";
  display: inline-block;
  animation: loading 1s infinite;
}

.loading span:nth-child(1)::after {
  margin-left: 0.5rem;
}

.loading span:nth-child(2)::after {
  animation-delay: 0.2s;
}

.loading span:nth-child(3)::after {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    color: red;
    transform: translateY(0);
  }
  25% {
    color: blue;
    transform: translateY(-25%);
  }
  50% {
    color: green;
    transform: translateY(-50%);
  }
  75% {
    color: yellow;
    transform: translateY(-25%);
  }
  100% {
    color: red;
    transform: translateY(0);
  }
}
